--find-links https://download.pytorch.org/whl/torch_stable.html
fastapi==0.115.11
uvicorn==0.34.0
transformers==4.49.0
torch==2.1.2+cpu
torchaudio==2.1.2+cpu
torchvision==0.16.2+cpu
gTTS==2.5.4
numpy==2.2.3
Pillow==11.1.0
requests==2.32.3
pydantic==2.10.6
starlette==0.46.1
python-multipart==0.0.20
Jinja2==3.1.6
PyYAML==6.0.2
tqdm==4.67.1
filelock==3.17.0
